<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
        <script type=text/javascript src="{{url_for('static', filename='js/code.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Welcome to the Homepage</h1>
        <input type="text" placeholder="Enter your username" id="usernameInput">
        <input type="text" placeholder="Enter your account" id="accountInput">
        <input type="text" placeholder="Enter your password" id="passwordInput">
        <button onclick="getElenco()" id="infoButton">Enter</button>
    </body>
</html>