<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
        <script type=text/javascript src="{{url_for('static', filename='js/code.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the Homepage</h1>
            <!--username-->
            <div>
                <p class="elemento">Username:</p>
                <input type="text" placeholder="Enter your username" id="usernameInput" class="elemento">                
            </div>
            <!--account-->
            <div>
                <p class="elemento">E-mail:</p>
                <input type="text" placeholder="Enter your E-mail" id="emailInput" class="elemento">    
            </div>
            <!--password-->
            <div>
                <p class="elemento">Password:</p>
                <input type="text" placeholder="Enter your password" id="passwordInput" class="elemento">
            </div>
            <button onclick="getElenco()" id="infoButton">Enter</button>
        </div>
    </body>
</html>

<!--Importare una lista di prodotti, con le foto, e visualizzare il tutto su due colonne-->